<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body onload="startTime()">
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="sport-list-menu">
            <li>
                <button id="top-panel-toogle" type="button" class="sidebar-header">
                    <i class="fas fa-bars"></i>
                </button>
            </li>
            <li>
                <button asp-page-handler="FootballButton" type="button" id="football-button" class="sport-button">
                    <i class="fas fa-futbol"></i>
                </button>
            </li>
            <li>
                <button asp-page-handler="BasketballButton" type="button" id="basketball-button" class="sport-button">
                    <i class="fas fa-basketball-ball"></i>
                </button>
            </li>
            <li>
                <button asp-page-handler="VolleyballButton" type="button" id="volleyball-button" class="sport-button">
                    <i class="fas fa-volleyball-ball"></i>
                </button>
            </li>
        </ul>
        <div class="author">
            Tomasz Florczuk
        </div>
    </nav>
    <!-- Content -->
    <div id="content">
        <header id="top-panel">
            <nav class="navbar navbar-expand-md">
                <div>
                    <a class="navbar-brand nav-link title-button" asp-page="/Index">PlayTogether</a>
                </div>
                <form action="">
                    <div class="pl-2 searchbar rounded rounded-pill input-group bg-orangered">
                        <input type="search" placeholder="Szukaj..." class="form-control border-0 bg-transparent"/>
                        <div class="input-group-append">
                            <button type="submit" class="search-button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="reload">
                    <button id="reload-button" type="button" class="reload-button">
                        <i class="fas fa-redo-alt"></i>
                    </button>
                </div>
                <div id="city-select">
                    <select id="top-city-select" class="form-control" asp-items="ViewBag.SelectCitiesTop"></select>
                </div>
                <div id="current-time" class="current-time"></div>
                <div id="user" class="user">
                    <button id="user-button" type="button" class="user-button">
                        <i class="fas fa-user"></i>
                    </button>
                </div>
            </nav>
        </header>
        <main role="main">
            @RenderBody()
        </main>
        <div>
            <button id="add-event-button" type="button" class="add-button border-0">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
</body>
</html>