@page
@model PlayTogether.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Users.UserId" />
            <div class="form-group">
                <label asp-for="Users.RoleId" class="control-label"></label>
                <select asp-for="Users.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="Users.RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Login" class="control-label"></label>
                <input asp-for="Users.Login" class="form-control" />
                <span asp-validation-for="Users.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Password" class="control-label"></label>
                <input asp-for="Users.Password" class="form-control" />
                <span asp-validation-for="Users.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Email" class="control-label"></label>
                <input asp-for="Users.Email" class="form-control" />
                <span asp-validation-for="Users.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Created" class="control-label"></label>
                <input asp-for="Users.Created" class="form-control" />
                <span asp-validation-for="Users.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Lastlogin" class="control-label"></label>
                <input asp-for="Users.Lastlogin" class="form-control" />
                <span asp-validation-for="Users.Lastlogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Modified" class="control-label"></label>
                <input asp-for="Users.Modified" class="form-control" />
                <span asp-validation-for="Users.Modified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.UserStatus" class="control-label"></label>
                <input asp-for="Users.UserStatus" class="form-control" />
                <span asp-validation-for="Users.UserStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.PlayerId" class="control-label"></label>
                <select asp-for="Users.PlayerId" class="form-control" asp-items="ViewBag.PlayerId"></select>
                <span asp-validation-for="Users.PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
